<div class="flex-container">

    <mue-menu-item link="/budget"
                   title="Budget"
                   subtitle="Budget"
                   description="See all Transactions"
                   color="#753BBD">
    </mue-menu-item>

    <mue-menu-item (click)="addTransaction()"
                   title="Add"
                   subtitle="Budget"
                   description="add all Transactions"
                   color="#753BBD">
    </mue-menu-item>

</div>
<div class="flex-container">
    <mue-menu-item link="/shopinglist"
                   title="Shoping"
                   subtitle="Haushalt"
                   description="See shopinglist"
                   color="#ed330e">
    </mue-menu-item>
</div>