<div class="flex-container">

    <mue-menu-item link="/budget"
                   title="History"
                   subtitle="Budget"
                   description="All transactions"
                   color="#753BBD">
    </mue-menu-item>

    <mue-menu-item (click)="addTransaction()"
                   title="Add"
                   subtitle="Budget"
                   description="Add transaction"
                   color="#753BBD">
    </mue-menu-item>

    <mue-menu-item link="/budget/reporting/performance"
                   title="Perf"
                   subtitle="Budget"
                   description="See statistics"
                   color="#753BBD">
    </mue-menu-item>

</div>
<div class="flex-container">
    <mue-menu-item link="/shopinglist"
                   title="Shoping"
                   subtitle="Haushalt"
                   description="See shopinglist"
                   color="#ed330e">
    </mue-menu-item>
</div>