<div class="flex-container">
    <div class="row">
        <div class="mue-cart" routerLink="/budget">
            <div class="cart-content">
                <!-- <i class="material-icons cart-content-icon">
                    attach_money
                </i> -->
                <p class="cart-content-text">Budget</p>
            </div>
        </div>

        <div class="mue-cart" (click)="addTransaction()">
            <div class="cart-content">
                <!-- <i class="material-icons">
                add
            </i> -->
                <p class="cart-content-text">Add</p>
            </div>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="row">
        <div class="mue-cart" routerLink="/shopinglist">
            <div class="cart-content">
                <!-- <i class="material-icons cart-content-icon">
                attach_money
            </i> -->
                <p class="cart-content-text">Shoping</p>
            </div>
        </div>
    </div>
</div>