<mat-card style="margin-top: 5px;">
    <mat-card-header>
        <mat-card-title>Monthly expenses</mat-card-title>
        <mat-card-subtitle>current year: {{ selectedYear }}</mat-card-subtitle>
        <mat-card-subtitle>current month: {{ selectedMonth }}</mat-card-subtitle>
        <button mat-icon-button>
            <mat-icon aria-label="next month button" (click)="previousMonth()">arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon aria-label="next month button" (click)="nextMonth()">arrow_forward_ios</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let category of categories$ | async">
            {{category.name}}: {{ getExpensesByCategory(category.name) | async | number:'1.0-2'}}
            <mat-list style="margin-left:30px;">
                <mat-list-item *ngFor="let subcategory of subcategoriesByCategory(category.name) | async">
                    <span *ngIf="subcategory">{{subcategory.name}}: {{ getExpensesBySubCategory(subcategory.name) |
                        async | number:'1.0-2'}}</span>
                </mat-list-item>
            </mat-list>
        </div>
        <mat-list-item style="font-weight: bold">Total: {{ totalExpenses$ | async | number:'1.0-2' }}</mat-list-item>
    </mat-card-content>
</mat-card>