.container {
    padding: 5px;
}

.create-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.position-right {
    position: absolute;
    right: 5px;
}

.category {
    margin-left: 10px;
}

.subcategory {
    margin-right: 10px;
}