<mat-toolbar>
    <span>Mue-Budget</span>

    <span class="fill-remaining-space"></span>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/transaction/list">
            <mat-icon>list</mat-icon>Transactions
        </button>

        <button mat-menu-item routerLink="/transaction/category">
            <mat-icon>category</mat-icon>Categories
        </button>

        <button mat-menu-item routerLink="/transaction/subcategory">
            <mat-icon>layers</mat-icon>Subcategories
        </button>

        <button mat-menu-item routerLink="/reporting/performance">
            <mat-icon>show_chart</mat-icon>Performance
        </button>

        <button mat-menu-item (click)="logout()">
            <mat-icon>person</mat-icon>Logout
        </button>
        <!-- <mat-icon [routerLink]="['changePassword']" class="example-icon">ac_unit</mat-icon>-->
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

</mat-toolbar>
<router-outlet></router-outlet>
