.sidenav {
  width: 60%;
}

.link-item {
  padding: 5px 10px 5px 10px;
  height: 35px;
}

.link-link {
  height: 100%;
  text-decoration: none;
  color: #101010;
}

.link-content {
  display: flex;
  align-items: center;
}

.list-item-text {
  padding-left: 16px;
}
