.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input-form {
    width: 100%;
}

.btn-login {
    width: 100%;
}

.error-message {
    margin-top: 35px;
    color: red;
    text-align: center;
}