.create-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.position-right {
  position: absolute;
  right: 5px;
}

.load-button {
  margin: 0 auto;
}

.value-box {
  min-width: 55px;
}

.value-box-inner {
  margin: 0;
  position: absolute;
  top: 20%;
}

.mue-list-item {
    height: auto !important;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: #bab5b550 solid 1px;
}