<form class="example-form" [formGroup]="transactionFormGroup" (ngSubmit)="create()">
    <mat-form-field>
        <input matInput placeholder="Beschreibung" formControlName="descriptionForm">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Wert" type="number" formControlName="valueForm">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Category" formControlName="categoryName" required>
            <mat-option *ngFor="let category of data.categories$ | async" [value]="category.name">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>

<button type="button" mat-raised-button color="primary" (click)="create()">Create</button>
<button type="button" mat-raised-button color="primary" style="float: right;" (click)="close()">Close</button>
